<div class="container page">
  <mat-grid-list
    class="into"
    cols="4"
    rowHeight="500"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="into-logo-img" fxLayoutAlign="center ">
      <img class="logo" src="assets/my-logo.png" alt="" />
    </div>
    <div class="text-into">
      <div>
        <H1 class="name-title">Gabriel Juarez</H1>
      </div>
      <div class="sub-name-title">
        <p>Web Developer</p>
        <P>Computer/Electronic Technician</P>
      </div>
    </div>
  </mat-grid-list>
  <mat-grid-list class="about-me-body" cols="2" rowHeight="700">
    <mat-grid-tile class="writen-info">
      <div
        class="writen-info-content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <h2>About Me</h2>
        <p>
          I've enjoyed working with technology ever since I was kid. Fixing the
          family computer in exchange for a video game. Ever since then I have
          been hooked.
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      class="contact"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div>
        <h2>Contact</h2>
        <ul>
          <li>GitHub</li>
          <li>Linked</li>
          <li>CodeTime</li>
          <li>Email</li>
          <li>Resume</li>
        </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
