<div class="main-container">
  <div class="player-display-area-container">
    <div class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 1</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 1 lives</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 1 Score</div>
      </div>
    </div>
    <div class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 2</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 2 lives</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 2 score</div>
      </div>
    </div>
    <div class="row" hidden >
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 3</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 3 live</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 3 Score</div>
      </div>
    </div>
    <div class="row">
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 4</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 4 lives</div>
      </div>
      <div class="subfield col-4 text-diplay">
        <div class="text-display">Player 4 Score</div>
      </div>
    </div>
  </div>

  <div class="gameboard-container">
    <div class="row game-board-row-1 gameboard-subfield">
      <div>player 1 Dice</div>
    </div>
    <div class="row game-board-row-2 gameboard-subfield">
      <div>Player 3 Dice</div>
      <div>
            <button>Roll</button>
        </div>
      <div>Player 4 Dice</div>
    </div>
    <div class="row game-board-row-3 gameboard-subfield">
      <div>Player 2 Dice</div>
    </div>
  </div>
</div>
