<p>game-board works!</p>
<div class="container">
  <div class="player-display"></div>
  <div class="player-one"></div>
  <div class="player-two"></div>
  <div class="player-three"></div>
  <div class="player-four"></div>
  <div class="game-board"></div>
  
  <div class="pool-table">
    <div class="table-carpet"></div>
    <div class="table-border"></div>
    <!-- pockets -->
    <div class="pocket top-left"></div>
    <div class="pocket top-center"></div>
    <div class="pocket top-right"></div>
    <div class="pocket bottom-left"></div>
    <div class="pocket bottom-center"></div>
    <div class="pocket bottom-right"></div>
    <!-- holes -->
    <div class="hole top-left"></div>
    <div class="hole top-center"></div>
    <div class="hole top-right"></div>
    <div class="hole bottom-left"></div>
    <div class="hole bottom-center"></div>
    <div class="hole bottom-right"></div>
  </div>

  <div class="dice_roll_btn"></div>
</div>
