
<div class="main-container">
  <div class="player-display">
    <div class="player-one">
      <div class="player-one-lives"></div>
      <div class="player-one-diceScore"></div>
    </div>
    <div class="player-two">
      <div class="player-two-lives"></div>
      <div class="player-two-diceScore"></div>
    </div>
    <div class="player-three">
      <div class="player-three-lives"></div>
      <div class="player-three-diceScore"></div>
    </div>
    <div class="player-four">
      <div class="player-four-lives"></div>
      <div class="player-four-diceScore"></div>
    </div>
  </div>
  
  <div class="game-board containter-fluild">
    <div class="row">
      <div class="player-one-diceRoll"
      class="subfield col"
      ></div>
    </div>
    <div class="row">
      <div class="player-three-diceRoll"></div>
      <div class="pool-table"></div>
      <div class="player-four-diceRoll"></div>
    </div>
    <div class="row">  
      <div class="player-two-diceRoll"></div>
    </div>
  </div>
  <div class="dice_roll_btn"></div>
</div>
