<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSideNavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSideNavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">My Services</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSideNavClose()">
        <mat-icon>perm_identity</mat-icon><span class="nav-caption">About me</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSideNavClose()">
        <mat-icon>work</mat-icon><span class="nav-caption">My Work</span>
    </a>
  </mat-nav-list>